/* .header{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    height: 70px;
    margin: 10px;
    
}

.header  ul{
   display: flex;
   list-style: none;
}
.header ul li{
   padding: 2px;
   margin-right: 15px;
   gap: 10px;
}

.header  img{
    height: 60px;
    width: 80px;
   
}
.srch-box{
    padding: auto;
    margin-top: 18px;
}
  */